In [ ]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [ ]:
df=sns.load_dataset('flights')
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [ ]:
df.isnull().sum()

year          0
month         0
passengers    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
a=LabelEncoder()
df['month']=a.fit_transform(df['month'])
df

     year  month  passengers
0    1949      4         112
1    1949      3         118
2    1949      7         132
3    1949      0         129
4    1949      8         121
..    ...    ...         ...
139  1960      1         606
140  1960     11         508
141  1960     10         461
142  1960      9         390
143  1960      2         432

[144 rows x 3 columns]

In [ ]:
x=df.drop('passengers',axis=1)
x

     year  month
0    1949      4
1    1949      3
2    1949      7
3    1949      0
4    1949      8
..    ...    ...
139  1960      1
140  1960     11
141  1960     10
142  1960      9
143  1960      2

[144 rows x 2 columns]

In [ ]:
y=df['passengers']
y

0      112
1      118
2      132
3      129
4      121
      ...
139    606
140    508
141    461
142    390
143    432
Name: passengers, Length: 144, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [ ]:
prediction=model.predict(xtest)
prediction

array([455.56336886, 170.75278254, 392.30261872, 234.39772264,
       392.357503  , 423.68601453, 265.45181276, 233.90376411,
       233.84887983, 391.80866019, 297.05474569, 392.19285016,
       455.06941033, 107.82133809, 139.14984961, 297.49381994,
       202.35571547, 139.4791553 , 234.28795408, 202.68502115,
       297.43893566, 423.96043593, 297.16451425, 202.2459469 ,
       297.10962997, 423.85066737, 139.42427102, 455.50848458,
       265.67134989])

In [ ]:
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(115, 2) (115,) (29, 2) (29,)

In [ ]:
from sklearn.metrics import r2_score
accuracy=r2_score(ytest,prediction)*100
accuracy

82.62306477364554

In [ ]:
p2=model.predict(xtrain)
p2
a1=r2_score(ytrain,p2)*100
a1

85.57513665886839

In [ ]:
v=[[2024,4]]
c=model.predict(v)
c

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([2477.82177058])